header .buttons {
  display: flex;
  float: right;
  align-items: center;
  margin-right: 50px;
}
header .buttons button {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  margin: 10px;
}
