* {
  margin: 0;
  padding: 0;
}

header.ust {
  display: inline-block;
  height: 100px;
  width: 100%;
  position: sticky;
  top: -20px;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 165px;
  height: 100%;
}

header.navigation-links {
  display: flex;
  width: 50vh;
}

header.navigation-links ul {
  list-style: none;
  position: relative;
}

header nav ul li {
  display: block;
  padding: 30px;
  float: left;
  font-size: 15px;
}

header nav ul li a {
  font-size: 15px;
  font-weight: 100;
  text-transform: uppercase;
  color: rgba(5, 6, 7, 0.5);
}
header .buttons {
  display: flex;
  float: right;
  align-items: center;
  font-size: 16px;
}
