.video-container-man {
  position: relative;
  height: 850px; /*video yüksekliği*/
  width: 100%;
  overflow: hidden;
}

.background-video-man {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-man {
  display: flex; /* Flexbox kullanarak hizalama */
  flex-wrap: wrap; /* Resimlerin birden fazla satıra geçmesini sağlar */
  gap: 10px; /* Resimler arasına boşluk ekler */
  justify-content: center; /* Resimleri ortalar */
}

.two {
  width: 400px;
  height: 400px;
  display: block; /* Görüntü öğesini blok seviyesinde eleman yapar */
  margin: 20px auto; /* Ortada hizalama */
  max-width: 100%; /* Görüntünün taşmasını önler */
}
