* {
  margin: 0;
  padding: 0;
}
p {
  font: 50px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 310px;
}
body header p {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  float: right;
}
